soap/src/main/resources/xsd/produtos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.seuprojeto.com.br/api-soap/produtos"
           targetNamespace="http://www.seuprojeto.com.br/api-soap/produtos"
           elementFormDefault="qualified">

    <xs:complexType name="Produto">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="descricao" type="xs:string"/>
            <xs:element name="preco" type="xs:decimal"/>
            <xs:element name="estoque" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getProdutoPorIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProdutoPorIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produto" type="tns:Produto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTodosProdutosRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getTodosProdutosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produtos" type="tns:Produto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="adicionarProdutoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome" type="xs:string"/>
                <xs:element name="descricao" type="xs:string"/>
                <xs:element name="preco" type="xs:decimal"/>
                <xs:element name="estoque" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="adicionarProdutoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="produto" type="tns:Produto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>